<div class="movie-list">
  <h2>Classifica utenti:</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">USERNAME</th>
        <th scope="col" (click)="sortPlayers()">
          PUNTEGGIO
          <span class="material-icons arrows">
            {{ sortDesc ? 'arrow_upward' : 'arrow_downward' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td >{{ player.username }}</td>
        <td >{{ player.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
