<div class="card">
    <div class="poster-container">
      <img [src]="'https://image.tmdb.org/t/p/w342/'+ reviewService.review.movieImg" [alt]="reviewService.review.movieTitle" class="poster">
    </div>
    <div class="card-content">
      <div class="info-container">
        <h3 class="title">{{reviewService.review.movieTitle }}</h3>
        <p class="release-date">Data d'uscita: {{ reviewService.review.movieReleaseDate }}</p>
        <p class="release-date">Lingua Originale: {{ reviewService.review.movieReleaseDate }}</p>
        <div class="rating-container">
          <span class="rating-text"> voto medio:</span>
          <span class="rating-icon">&#9733;</span>
          <span class="rating-value"> {{ reviewService.review.movieVoteAverage }}/10.0</span>
        </div>
      </div>
      <p class="overview">{{ reviewService.review.movieDescription }}</p>
  
      <p class="alert alert-secondary mt-3">>Questo film e' stato recensito il {{reviewService.review.timestamp}}</p>
      
      <div class="comment-container">
        <ngb-rating [rate]="reviewService.review.ratingStars" [max]="5" (rateChange)="onRatingChange($event)"></ngb-rating>
        <textarea class="comment-box" [(ngModel)]="reviewService.review.textComment" maxlength="160" (input)="onCommentChange($event)"></textarea>
        <div class="buttons-container">
          <button id="addToFavoritesBtn" class="comment-btn" [ngClass]="{'disabled-btn': !isFormValid}" 
            [disabled]="!isFormValid" (click)="updateReview()">
            Modifica la recensione
          </button>
        </div>
      </div>

      