
  

  .card-img-top {
    width: 100%; 
    height:100%; 
    box-shadow: 0px 0px 12px rgb(255, 255, 255); 
    border-radius: 6px;
    cursor: pointer;
    animation: glow-box 1.5s infinite;
  }
  
  .movie-title{
    background-color: transparent;
     font-size: 16px;
    margin-top: -8px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
  }

  @keyframes glow-box {
    0%, 100% {
      box-shadow: 0 0 10px white; /* Cambia il colore e la dimensione del bagliore qui */
    }
    50% {
      box-shadow: 0 0 13px white; /* Cambia il colore e la dimensione del bagliore qui */
    }
  }