.card {
  display: flex;
  border-radius: 8px;
  background-color: hsla(0, 0%, 9%, 0.769); /* Sfondo bianco molto trasparente */
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  margin-bottom: 16px;
  font-family: 'Sen', sans-serif;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.443);
}

.card:hover {
  transform: scale(1.05);
}

.poster-container {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  color: #1b1b1b;
}

.title {
 // margin-inline: 300px;
  font-size: 40px;
  font-weight: bold;
  color: white; 
  margin-bottom: 8px;
}

.overview {
  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}

.release-date,
.vote-average {
  font-size: 18px;
  color: white; 
  margin-bottom: 4px;
}


.comment{
font-size: 20px;
color: #ff8c00;
}


.comment-text{
 max-width: 800px;
 color: white;
}

.review-container {
  position: absolute;
  top: 271px;
  left: 310px;
  display: grid;
  gap: 8px;
  align-items: center;
}

.comment-rating {
  color: #ff8c00; 
  font-size: 22px;
}

.comment-box {
  display: flex;
  width: 500px; 
  max-width: 700px;  
  height: 110px;
  resize: vertical;
  padding: 8px;
  border-radius: 4px;
  font-size: 18px;
  background-color: transparent; 
  color: white; 
  resize: none;
}

.comment-box:focus-visible{
  border: 3px solid #ff8c00;
}



.comment-box::placeholder { 
  color: white; 
  font-size: 18px;
  opacity: 0.5;
}

.comment-btn {
  background-color: #ff8c00;
  color: white; 
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}



.comment-btn:hover {
  background-color: #ffa64d;
}

.info-container {
  color: white;
  position: absolute;
  top: 5px;
  left: 310px; 
  display: grid;
  gap: 8px;
  align-items: center;
}

.rating-container {
  display: flex;
  align-items: center;
  color: #ff8c00; 
  margin-bottom: 8px;
}

.rating-icon {
  font-size: 25px;
  margin-bottom:3px;
  margin-right: 3px;
  margin-left: 3px;
  vertical-align:auto;
}

.rating-value {
  font-size: 20px;
  font-weight: bold;
  margin-bottom:4px;
  
}

.rating-text{
  font-size: 18px;
  color: white;
  margin-bottom: 4px;
  opacity: 1;
}

.rating-user{
  font-size: 18px;
  color: #ff8c00;
  margin-bottom: 0px;
  opacity: 1;
}

.disabled-btn {
  color: #1b1b1b;
  background-color: #ccc;
  cursor: not-allowed;
  animation: none;
  opacity: 0.5;
}
.disabled-btn:hover {
  background-color: #ccc; 
  animation: none;
}


.rating-container {
  display: flex;
  align-items: center;
}

.rating-label{
  font-size: 20px;
  margin-right: 10px;
  color: #ff8c00;
}

.alert {
  font-size: 18px;
  width: 770px;
  height: 60px;
  color: #333;
}




@media screen and (max-width: 600px) {
  .card-content {
    flex-direction: column;

    .info-container {
      order: 1;
      position: static;
    }

    .comment-container {
      order: 3;
      position: static;
      width: 100%;
    }

    .overview {
      order: 2;
    }

    .comment-box {
      width: 90%;
    }

    .rating-container {
      justify-content: center;
    }

    .buttons-container {
      justify-content: center;
    }
  }
}
@keyframes glow {
  0%, 100% {
    opacity: 0.8;
   
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 5px white; /* Cambia il colore e la dimensione del bagliore qui */
  
  }
}
@keyframes glow-box {
  0%, 100% {
    box-shadow: 0 0 5px white; /* Cambia il colore e la dimensione del bagliore qui */
  }
  50% {
    box-shadow: 0 0 11px white; /* Cambia il colore e la dimensione del bagliore qui */
  }
}



.comment-box{
  animation: glow-box 1s infinite; /* Applica l'animazione di glow */
}
.comment-rating {
  animation: glow 1s infinite; /* Applica l'animazione di glow */
}
